body{
    background-image: url(background\ 2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}

header{
    height:50px;
    background-color:rgb(247, 184, 222);
    width:100%;
    float:left;
}

header div{
    float:left;
    height:40px;
    width: 100px;
    padding-left: 50px;
}

header p{
    float:left;
    font-weight: bold;
}

header p:hover{
    text-decoration: underline 2px solid black;
    font-style: italic;
}

header div:active{
    background-color: rgb(241, 120, 192);
}

header #home{
    background-color: rgb(241, 120, 192);
}

header .icon{
    width:100px;
    height:40px;
    float:right;
}

.icon img{
    block-size: 30px;
}

.head{
    background-image: url("cake\ background.jpeg");
    background-repeat:no-repeat;
    background-size: cover;
    width:100%;
    height: 400px;
    background-color: black;
    opacity:100%;
    float:left;
}

.left{
    width:50%;
    text-align:right;
    color:black;
    font-size: 80px;
    padding-top: 100px;
    font-weight: bold;
    float:left;
}

.right{
    width:50%;
    float:left;
}

.right img{
    block-size: 400px;
}

.container{
    width:100%;
    
}

.image{
    width:30%;
}

.cake{
    block-size: 400px;
    float:left;
}

.text{
    font-size: 20px;
}

h2{
    text-align: center;
    width:100%;
    font-size: 50px;
    text-decoration: underline 2px solid black;
}

.text p{
    text-align: left;
}

.btn{
    block-size: 30px;
    background-color: rgb(255, 0, 102);
    border-radius: 40%;
    color:white;
    font-weight: bold;
}

.btn:active{
    background-color: white;
    color:rgb(255, 0, 102);
    border:1px solid rgb(255, 0, 102);
}

.best{
    width:100%;
    text-align: center;
    float:left;
    background-color: white;
}

.img{
    border: 2px solid black;
    margin:5px;
    float:left;
    width:15%;
    height:300px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.img:active{
    background-color: rgb(217, 216, 216);
}

.img img{
    block-size: 200px;
}

footer{
    width:100%;
    background-color:palevioletred;
    float:left;
}

footer p{
    font-size: 20px;
    font-weight:bold;
}